---
# quickfix for boo#1089175
- name: touch missing files to remove xorriso
  command: touch {{item}}
  with_items:
    - /usr/share/info/xorrisofs.info.gz
    - /usr/share/info/xorrecord.info.gz
    - /usr/share/info/xorriso.info.gz

- name: temporary enable zypper excludedocs
  tags:
    - never # disabled due to boo#1096305
  lineinfile:
    path: /etc/zypp/zypp.conf
    line: 'rpm.install.excludedocs = yes'
    create: no

# this package will be re-added at the later stage, it needs to be
# removed at the beginning so that it's dependencies are marked as
# manually installed when we list them in the playbook
- name: remove dracut-kiwi-live package
  zypper: name=dracut-kiwi-live state=absent
