[Unit]
Description=LiveMedia Config Script
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/opt/configuration/apply image_boot

[Install]
WantedBy=multi-user.target
