---
- hosts: all
  pre_tasks:
    - import_role: name=kiwi_pre
      when: is_kiwi == true
  post_tasks:
    - import_role: name=kiwi_post
      when: is_kiwi == true
  roles:
    - base
    - sudo
    - samba
    - ioscheduler
    - desktop
    - polkit
    - fonts
