<?xml version="1.0" encoding="utf-8"?>
<image schemaversion="7.4" name="zigzag">
    <description type="system">
        <author>Zigzag Linux</author>
        <contact>example@example.com</contact>
        <specification>Zigzag Linux</specification>
    </description>
    <preferences>
        <type
            image="iso"
            primary="true"
            flags="overlay"
            firmware="uefi"
            kernelcmdline="quiet"
            hybridpersistent="false"/>
        <version>15.4</version>
        <packagemanager>dnf</packagemanager>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <timezone>Etc/UTC</timezone>
        <rpm-excludedocs>true</rpm-excludedocs>
        <rpm-check-signatures>false</rpm-check-signatures>
        <bootsplash-theme>openSUSE</bootsplash-theme>
        <bootloader-theme>openSUSE</bootloader-theme>
    </preferences>
    <users>
        <!-- password: linux -->
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root" groups="root"/>
    </users>
    <repository alias="repo-oss">
        <source path="http://download.opensuse.org/distribution/leap/15.4/repo/oss/"/>
    </repository>
    <repository alias="repo-oss-update">
        <source path="http://download.opensuse.org/update/leap/15.4/oss/"/>
    </repository>
    <repository alias="repo-backports-update">
        <source path="http://download.opensuse.org/update/leap/15.4/backports/"/>
    </repository>
    <repository alias="repo-sle-update">
        <source path="http://download.opensuse.org/update/leap/15.4/sle/"/>
    </repository>
    <repository alias="repo-zigzag" priority="20" imageinclude="true">
        <source path="obs://home:mkrwc:zigzag:15.4/standard"/>
    </repository>
    <packages type="image">
        <package name="ansible"/>
        <package name="rpm-repos-openSUSE-Leap"/>
        <package name="openSUSE-build-key"/>
    </packages>
    <packages type="iso">
        <package name="dracut-kiwi-live"/>
    </packages>
    <packages type="bootstrap">
        <package name="filesystem"/>
        <package name="util-linux"/>
        <package name="glibc-locale"/>
        <package name="ca-certificates-mozilla"/>
        <!-- Listed here so that correct variant is choosen: -->
        <package name="openSUSE-release"/>
        <package name="systemd-presets-branding-MicroOS"/>
        <package name="systemd-default-settings-branding-SLE-Micro"/>
        <package name="cracklib-dict-full"/>
    </packages>
</image>
